* {
  box-sizing: border-box;
}

/*? Variáveis  */
:root {
  --botao-reiniciar: 180px;
}

/*? Fontes */
@font-face {
  font-family: "Pixel";
  src: url(../fonts/Pixel.ttf);
}

@font-face {
  font-family: "Symtext";
  src: url(../fonts/Symtext.ttf);
}

@font-face {
  font-family: "Mozilla";
  src: url(../fonts/MozillaText-VariableFont_wght.ttf);
}

/*? Animações */
@keyframes Sumir {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
@keyframes Aparecer {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
@keyframes GirarIcone {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
@keyframes InvertidoGirarIcone {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*? CSS do Fundo do Jogo */
[wm-flappy] {
  position: relative;
  border: 5px solid white;
  height: 2000px;
  width: 1000px;
  margin: 15px;
  background-color: #00bfff;
  /* Qualquer coisa que esteja fora da div fica escondido */
  overflow: hidden;
  /* filter: saturate(0%); */
  filter: saturate(none);
}

/*? CSS da imagem do Bird */
.passaro {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
  /* bottom: 50%; */
  user-select: none;
  /* background-color: red; */
}

/*? Configurações do Par de Barreias (Cima e Baixo) */
.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*? Confinguração de uma barreira apenas, de forma individual */
.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*? Configuração da parte da "cabeça" da barreira */
.barreira .borda {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid #000;
}

/*? Configuração da parte do corpo da barreira */
.barreira .corpo {
  height: 150px;
  width: 110px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

/*? Configuração da Pontuação  */
.progresso {
  user-select: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Pixel";
  font-size: 70px;
  z-index: 100;
}

/*? Configuração do Texto que fica em cima do botão */
.div-contain-texto-inicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.div-texto-inicio {
  position: relative;
  top: -170px;
  text-align: center;
  font-size: 25px;
  color: white;
  /* background-color: red; */
}

.texto-inicio {
  user-select: none;

  color: white;
  filter: drop-shadow(0px 0px 66px white);

  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
}

/*? Todas as configurações do Botão de Iniciar */
.botao-iniciar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 66px #fff);
  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
  z-index: 3;
}

.circulo {
  border: 2px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
}

.triangulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangulinho {
  user-select: none;

  display: grid;
  place-items: center;
  text-align: center;

  color: #000;
  position: relative;
  font-size: 70px;
  top: -23px;
  left: 12px;
  transform: rotate(90deg);
  width: 300px;
  height: 240px;
  color: #00bfff;
  /* background-color: red; */
}

.circulo:hover {
  background-color: #fff085;
  border: 2px solid #fff085;
  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
}

.botao-iniciar:hover {
  filter: drop-shadow(0px 0px 66px #fff085);
  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
}

.triangulinho:hover {
  cursor: pointer;
}

/*? Botão para Reiniciar o Jogo */
.div-botao-reiniciar {
  position: relative;
  top: -325px;
}

.botao-reiniciar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(0px 0px 66px red);
  /* background-color: blue; */

  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
  z-index: 3;

  cursor: pointer;

  opacity: 0%;
  display: none;
}

.circulo-reiniciar {
  border: 2px solid red;

  width: var(--botao-reiniciar);
  height: var(--botao-reiniciar);

  border-radius: 50%;
  background-color: red;
  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
}

.div-icone-reload-reiniciar {
  position: relative;
  left: -2px;
  top: -3px;

  height: var(--botao-reiniciar);
  width: var(--botao-reiniciar);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);

  /* background-color: green; */
}

.icone-reload-reiniciar {
  position: relative;
  fill: white;
  stroke: white;

  /* background-color: yellow; */

  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
}

.div-icone-reload-reiniciar:hover {
  transform: rotate(90deg);
  transition: all 0.25s cubic-bezier(0.3, 0.63, 0.51, 0.85);
  top: -3px;
}

/*? Configurações do Texto de Derrota */
.div-textoPerdeu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textoPerdeu {
  user-select: none;

  position: relative;
  top: -155px;
  left: 25px;

  font-family: "Symtext";
  font-size: 70px;
  width: 550px;

  text-align: center;

  filter: drop-shadow(0px 0px 40px #ff0000);

  color: #ff0000;

  opacity: 0%;
}

/*? CSS do modo de dificuldade */

.div-global-dificuldade {
  border: 4px solid white;
  background-color: deepskyblue;

  padding: 20px;
  width: 1000px;
}

.label-select-dificuldade {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 30px;
  font-family: "Mozilla";
  font-weight: bold;
}

.div-select-dificuldade {
  text-align: center;
  margin-top: 10px;
}
.select-dificuldade {
  font-size: 18px;
  font-family: "Mozilla";

  text-align: center;
}

.select-dificuldade option {
  font-family: "Mozilla";
}

/*? Configurações do "Rodapé" com contatos */
.div-autoria-contatos {
  margin-top: -20px;
  margin-bottom: 60px;
  text-align: center;
}

.div-contatos {
  display: block;
  margin: auto;
  /* background-color: red; */
  width: 108px;
}

.icone-linkedin {
  filter: drop-shadow(0px 0px 20px #007dfa5d);
}

.icone-github {
  filter: drop-shadow(0px 0px 20px #8b8b8b5d);
}

.nomeAutoria {
  transition: all 0.2s cubic-bezier(0.3, 0.63, 0.51, 0.85);
  color: #fff;
}
